html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Supaya tidak ada scroll bar */
}
@import "tailwindcss";

@keyframes progress {
  from { 
    width: 0%; 
  }
  to { 
    width: 100%; 
  }
}

.progress-animation {
  animation: progress 3s linear forwards;
}